# Quartus synthesis build files
db/
incremental_db/
output_files/
*.rpt
*.summary
*.smsg
*.qws
*.done
*.pin

# ModelSim & EDA simulation artifacts
work/
*.cr.mti
*.mpf
*.vcd
*.wlf
transcript

# Toolchain build artifacts
*.elf
*.bin

simulation/
*.vhd